<div class="card mb-4" id="<%= dom_id event %>">
  <div class="card-block">
    <h4 class="card-title">
      <%= link_to event.title, category_event_path(event.category, event) %>
      <% if event.participant? current_user %>
        <span class="badge badge-info">enrolled</span>
      <% end %>
    </h4>
    <h6 class="card-subtitle mb-2 text-muted">Created by <%= event.owner.name %></h6>

    <p class="card-text lead"><%= event.description %></p>

    <dl>
      <dt>Starts at</dt>
      <dd><%= event.starts_at %></dd>

      <dt>Ends at</dt>
      <dd><%= event.ends_at %></dd>
    </dl>

    <% if event.owned_by? current_user %>
      <%= link_to 'Edit', edit_category_event_path(event.category, event), class: 'card-link btn btn-secondary btn-sm' %>
      <%= link_to 'Remove', category_event_path(event.category, event), class: 'card-link btn btn-danger btn-sm',
                  data: {method: :delete, confirm: 'Are you sure?', remote: true} %>
    <% end %>
  </div>
</div>