<% title @category.title %>
<% at_page %>

<div class="btn-group">
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-primary' %>
    <%= link_to 'Remove', category_path(@category), class: 'card-link btn btn-danger',
                data: {method: :delete, confirm: 'Are you sure?', remote: true} %>
  <% end %>
  <%= link_to 'Add Event Here', new_category_event_path(@category), class: 'btn btn-info' %>
</div>

<p class="lead mt-4"><%= @category.description %></p>

<h2>Events</h2>

<%= render @events %>