<% content_for :menu do %>
  <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md" id="main-menu">
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#main-menu-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= link_to root_path, class: 'navbar-brand' do %>
      <i class="icon-home"></i>
      BraveCoder
    <% end %>

    <div class="collapse navbar-collapse" id="main-menu-collapse">
      <ul class="navbar-nav mr-auto">
        <%= nav_item t('categories.index.menu_link'), categories_path, page %>
        <%= nav_item t('pages.about.menu_link'), about_pages_path, page %>
      </ul>

      <ul class="navbar-nav">
        <%= choose_locale_dropdown %>

        <% if user_signed_in? %>
          <li class="nav-item">
            <span class="nav-link"><strong><%= current_user.name %></strong></span>
          </li>
          <%= nav_item t('sessions.destroy.menu_link'), sessions_path, '', data: {method: :delete} %>
        <% else %>
          <%= nav_item t('users.new.menu_link'), new_user_path, page %>
          <%= nav_item t('sessions.new.menu_link'), new_sessions_path, page %>
        <% end %>
      </ul>
    </div>
  </nav>
<% end %>