<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BraveCoder</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'About', about_path %></li>
</ul>

<h1 class="page-title"><%= yield :page_title %></h1>
<%= yield %>

<footer>
  <p>&copy; 2017 <%= mail_to 'test@example.com', 'Contact us' %></p>
  <p><%= link_to image_tag('icons/twitter.gif'), 'https://twitter.com/bodrovis' %></p>
</footer>
</body>
</html>
