<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <title>BraveCoder</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body data-locale="<%= I18n.locale %>">

<%= yield :menu %>

<div class="container">
  <% flash.each do |key, message| %>
    <%= content_tag(:div, class: "alert alert-#{key}") { message } %>
  <% end %>

  <div class="mt-1 mb-4">
    <h1><%= yield :page_title %></h1>
  </div>
  <%= yield %>
</div>

<%= render 'shared/footer' %>
</body>
</html>
